<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="net.sf.jmoney.pages">
      <node
            id="chartsNode"
            label="%NavigationTreeModel.Charts"
            icon="icons/chart.gif"
            position="500">
      </node>
      <node
            id="pieChart"
            label="%Chart.pieChart"
            parent="net.sf.jmoney.charts.chartsNode"
            icon="icons/chart.gif"
            position="100">
      </node>
      <pages
            id="pieChart"
            class="net.sf.jmoney.charts.PieChartPage"
            node="net.sf.jmoney.charts.pieChart">
      </pages>
      <node
            id="lineChart"
            label="%Chart.lineChart"
            parent="net.sf.jmoney.charts.chartsNode"
            icon="icons/chart.gif"
            position="100">
      </node>
      <pages
            class="net.sf.jmoney.charts.LineChartPage"
            node="net.sf.jmoney.charts.lineChart"
            id="lineChart">
      </pages>
      <node
            id="stackedChart"
            label="%Chart.stackedChart"
            parent="net.sf.jmoney.charts.chartsNode"
            icon="icons/chart.gif"
            position="100">
      </node>
      <pages
            class="net.sf.jmoney.charts.StackedChartPage"
            node="net.sf.jmoney.charts.stackedChart"
            id="StackedChart">
      </pages>
   </extension>


<extension point="org.eclipse.ui.commands">
    <command
          id="net.sf.jmoney.charts.lineChart"
          name="Open Line Chart Editor">
    </command>
    <command
          id="net.sf.jmoney.charts.pieChart"
          name="Open Pie Chart Editor">
    </command>
    <command
          id="net.sf.jmoney.charts.stackChart"
          name="Open Stack Chart Editor">
    </command>
</extension>

<extension point="org.eclipse.ui.handlers">
    <handler
          class="net.sf.jmoney.charts.OpenLineChartHandler"
          commandId="net.sf.jmoney.charts.lineChart">
       <enabledWhen>
          <with variable="activeContexts">
             <iterate operator="or">
                <equals value="net.sf.jmoney.sessionOpen"/>
             </iterate>
          </with>
       </enabledWhen>
    </handler>
    <handler
          class="net.sf.jmoney.charts.OpenPieChartHandler"
          commandId="net.sf.jmoney.charts.pieChart">
       <enabledWhen>
          <with variable="activeContexts">
             <iterate operator="or">
                <equals value="net.sf.jmoney.sessionOpen"/>
             </iterate>
          </with>
       </enabledWhen>
    </handler>
    <handler
          class="net.sf.jmoney.charts.OpenStackChartHandler"
          commandId="net.sf.jmoney.charts.stackChart">
       <enabledWhen>
          <with variable="activeContexts">
             <iterate operator="or">
                <equals value="net.sf.jmoney.sessionOpen"/>
             </iterate>
          </with>
       </enabledWhen>
    </handler>
</extension>

<extension point="org.eclipse.ui.menus">
     <menuContribution locationURI="menu:charts">
        <command commandId="net.sf.jmoney.charts.lineChart"
            label="%Chart.lineChart"
            icon="icons/chart.gif"
            tooltip="Show line chart">
        </command>
        <command commandId="net.sf.jmoney.charts.pieChart"
            label="%Chart.pieChart"
            icon="icons/chart.gif"
            tooltip="Show pie chart">
        </command>
        <command commandId="net.sf.jmoney.charts.stackChart"
            label="%Chart.stackedChart"
            icon="icons/chart.gif"
            tooltip="Show stack chart">
        </command>
     </menuContribution>
</extension>
 

</plugin>
