<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
   </extension>

   <extension
         point="net.sf.jmoney.pages">
      <node
            id="chartsNode"
            label="%NavigationTreeModel.Charts"
            icon="icons/chart.gif"
            position="500">
      </node>
      <node
            id="pieChart"
            label="%Chart.pieChart"
            parent="net.sf.jmoney.charts.chartsNode"
            icon="icons/chart.gif"
            position="100">
      </node>
      <pages
            id="pieChart"
            class="net.sf.jmoney.charts.PieChartPage"
            node="net.sf.jmoney.charts.pieChart">
      </pages>
      <node
            id="lineChart"
            label="%Chart.lineChart"
            parent="net.sf.jmoney.charts.chartsNode"
            icon="icons/chart.gif"
            position="100">
      </node>
      <pages
            class="net.sf.jmoney.charts.LineChartPage"
            node="net.sf.jmoney.charts.lineChart"
            id="lineChart">
      </pages>
      <node
            id="stackedChart"
            label="%Chart.stackedChart"
            parent="net.sf.jmoney.charts.chartsNode"
            icon="icons/chart.gif"
            position="100">
      </node>
      <pages
            class="net.sf.jmoney.charts.StackedChartPage"
            node="net.sf.jmoney.charts.stackedChart"
            id="StackedChart">
      </pages>
   </extension>

</plugin>
