<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sf.jmoney.charts"
   name="Jfreechart Plug-in"
   version="1.0.0"
   provider-name=""
   class="net.sf.jmoney.charts.ChartsPlugin">

   <runtime>
      <library name="charts.jar">
         <export name="*"/>
      </library>
      <library name="jcommon-0.9.4.jar">
         <export name="*"/>
      </library>
      <library name="jfreechart-0.9.19.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="net.sf.jmoney"/>
      <import plugin="org.eclipse.ui.forms"/>
   </requires>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="net.sf.jmoney.charts"
            visible="true"
            id="net.sf.jmoney.charts">
         <action
               label="PieChart"
               class="net.sf.jmoney.charts.actions.ActionPieChart"
               tooltip="Draw charts"
               menubarPath="file/chartsGroup"
               id="net.sf.jmoney.charts.actions.ActionPieChart"/>
         <action
               label="StapeldChart"
               class="net.sf.jmoney.charts.actions.ActionStappeldChart"
               menubarPath="file/chartsGroup"
               id="net.sf.jmoney.charts.actions.ActionStappeldChart"/>
         <action
               label="LineChart"
               class="net.sf.jmoney.charts.actions.ActionLineChart"
               menubarPath="file/chartsGroup"
               id="net.sf.jmoney.charts.actions.ActionLineChart"/>
      </actionSet>
   </extension>


   <extension
         point="net.sf.jmoney.pages">
      <node
            id="chartsNode"
            label="%NavigationTreeModel.Charts"
            position="500">
      </node>
      <node
            id="pieChart"
            label="%Chart.pieChart"
            parent="net.sf.jmoney.charts.chartsNode"
            position="100">
      </node>
      <pages
            id="pieChart"
            class="net.sf.jmoney.charts.PieChartPage"
            node="net.sf.jmoney.charts.pieChart">
      </pages>
      <node
            id="lineChart"
            label="%Chart.lineChart"
            parent="net.sf.jmoney.charts.chartsNode"
            position="100">
      </node>
      <pages
            class="net.sf.jmoney.charts.LineChartPage"
            node="net.sf.jmoney.charts.lineChart"
            id="lineChart">
      </pages>
   </extension>

</plugin>
