<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Import/Export Wizards"
            id="net.sf.jmoney.qif">
      </category>
      <wizard
            name="Quicken Interchange Format file"
            icon="icons/sample.gif"
            category="net.sf.jmoney.qif"
            class="net.sf.jmoney.qif.wizards.QIFExportWizard"
            id="net.sf.jmoney.qif.wizards.QIFExportWizard">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="QIF Action Set"
            visible="true"
            id="net.sf.jmoney.qif.actionSet">
         <action
               label="QIF File..."
               class="net.sf.jmoney.qif.actions.QIFImportAction"
               tooltip="Import Data from QIF File"
               menubarPath="file/import/"
               id="net.sf.jmoney.qif.actions.QIFImport">
         </action>
         <action
               label="QIF File..."
               class="net.sf.jmoney.qif.actions.QIFExportAction"
               tooltip="Export Data to a QIF File"
               menubarPath="file/export/"
               id="net.sf.jmoney.qif.actions.QIFExport">
         </action>
      </actionSet>
   </extension>

   <extension
         point="net.sf.jmoney.fields">
      <extension-property-set
      	id="entryProperties"
          info-class="net.sf.jmoney.qif.QIFEntryInfo"
	      extendable-property-set="net.sf.jmoney.entry">
      </extension-property-set>
   </extension>

</plugin>
