<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="pages" name="Bookkeeping Pages" schema="schema/bookkeepingPages.exsd"/>
   <extension-point id="fields" name="Extension Fields in Datastore Objects" schema="schema/fields.exsd"/>
   <extension-point id="propagators" name="Property Propagators" schema="schema/propagators.exsd"/>
   <extension-point id="datastores" name="Datastore Implementations" schema="schema/datastores.exsd"/>

   <extension
      point="org.eclipse.core.runtime.products"
      id="product">
      <product
            application="net.sf.jmoney.JMoneyApplication"
            name="JMoney RCP">
         <property
               name="appName"
               value="JMoney RCP"/>
         <property
               name="aboutText"
               value="JMoney RCP&#x0D;&#x0A;&#x0D;&#x0A;Version: 1.0pre2&#x0D;&#x0A;&#x0D;&#x0A;(c) Copyright JMoney contributors and others 2000, 2006.  All rights reserved.&#x0D;&#x0A;Visit http://jmoney.sourceforge.net&#x0D;&#x0A;&#x0D;&#x0A;This product includes software developed by the&#x0D;&#x0A;Eclipse Foundation http://www.eclipse.org/"/>
         <property
               name="aboutImage"
               value="icons/JMoney128.gif"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="windowImages"
               value="icons/JMoney16.gif,icons/JMoney32.gif,icons/JMoney128.gif"/>
      </product>          
   </extension>
    
   <extension
         id="JMoneyApplication"
         name="JMoneyName"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.sf.jmoney.JMoneyApplication">
         </run>
      </application>
   </extension>
   
	<extension point="org.eclipse.ui.intro">
		<intro
      		icon="icons/JMoney16.gif"
      		class="net.sf.jmoney.intro.JMoneyIntroPart"
      		id="net.sf.jmoney.intro"/>
		<introProductBinding 
			productId="net.sf.jmoney.product"
			introId="net.sf.jmoney.intro"/>
	</extension>

	<extension
          point="org.eclipse.core.runtime.preferences">
		<initializer class="net.sf.jmoney.JMoneyPreferenceInitializer"/>
	</extension>

	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="JMoney Accounting"
      		icon="icons/JMoney16.gif"
            class="net.sf.jmoney.JMoneyPerspective"
            id="net.sf.jmoney.JMoneyPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="net.sf.jmoney.actionSet">
         <action
               label="&amp;Close"
               class="net.sf.jmoney.actions.CloseSessionAction"
               tooltip="Close current session"
               menubarPath="file/sessionGroup"
               toolbarPath="fileGroup"
               id="net.sf.jmoney.actions.CloseSessionAction">
         </action>
         <menu
               label="&amp;Edit"
               id="edit">
            <separator
                  name="undoGroup">
            </separator>
         </menu>
         <action
               label="%MainFrame.undo"
               icon="icons/jlfgr/Undo16.gif"
               tooltip="Undo last change"
               class="net.sf.jmoney.actions.UndoAction"               
               menubarPath="edit/undoGroup"
               toolbarPath="undoGroup"
               id="net.sf.jmoney.actions.Undo">
         </action>
         <action
               label="%MainFrame.redo"
               icon="icons/jlfgr/Redo16.gif"
               tooltip="Redo last undone change"
               class="net.sf.jmoney.actions.RedoAction"
               menubarPath="edit/undoGroup"
               toolbarPath="undoGroup"
               id="net.sf.jmoney.actions.Redo">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>

<!--
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="plugin.xml"
            id="net.sf.jmoney.contribution1">
         <menu
               label="New Submenu"
               path="additions"
               id="net.sf.jmoney.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="New Account"
               class="net.sf.jmoney.popup.actions.NewAccountAction"
               menubarPath="net.sf.jmoney.menu1/group1"
               enablesFor="1"
               id="net.sf.jmoney.newAction">
         </action>
      </objectContribution>
   </extension>
-->   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Preferences"
            class="net.sf.jmoney.preferences.PreferencePage"
            id="net.sf.jmoney.preferences.PreferencePage">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="JMoney Basic"
            id="net.sf.jmoney.viewCategory">
      </category>
      <view
            name="Navigation"
            icon="icons/accounts.gif"
            category="net.sf.jmoney.viewCategory"
            class="net.sf.jmoney.views.NavigationView"
            id="net.sf.jmoney.views.NavigationView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="net.sf.jmoney.genericEditor"
            name="Generic Node Editor"
            icon="icons/sample.gif"
            class="net.sf.jmoney.views.NodeEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.elementFactories">
        <factory 
           id ="net.sf.jmoney.nodeEditor" 
           class="net.sf.jmoney.views.NodeEditorFactory">
        </factory> 
   </extension>

   <extension
         point="net.sf.jmoney.pages">
      <pages
            class="net.sf.jmoney.pages.entries.EntriesBookkeepingPage"
            extendable-property-set="net.sf.jmoney.currencyAccount"
            id="entries"
            position="1">
      </pages>
      <pages
            class="net.sf.jmoney.pages.accountProperties.AccountPropertiesPage"
            extendable-property-set="net.sf.jmoney.capitalAccount"
            id="accountProperties"            
            position="2">
      </pages>
   </extension>
   
   <extension
         point="net.sf.jmoney.fields">
      <extendable-property-set
      	id="session"
          info-class="net.sf.jmoney.fields.SessionInfo">
      </extendable-property-set>
      <extendable-property-set
      	id="commodity"
          info-class="net.sf.jmoney.fields.CommodityInfo">
      </extendable-property-set>
      <extendable-property-set
      	id="currency"
          info-class="net.sf.jmoney.fields.CurrencyInfo"
          base-property-set="net.sf.jmoney.commodity">
      </extendable-property-set>
      <extendable-property-set
      	id="account"
          info-class="net.sf.jmoney.fields.AccountInfo">
      </extendable-property-set>
      <extendable-property-set
      	id="categoryAccount"
          info-class="net.sf.jmoney.fields.IncomeExpenseAccountInfo"
          base-property-set="net.sf.jmoney.account">
      </extendable-property-set>
      <extendable-property-set
      	id="capitalAccount"
          info-class="net.sf.jmoney.fields.CapitalAccountInfo"
          base-property-set="net.sf.jmoney.account">
      </extendable-property-set>
      <extendable-property-set
      	id="currencyAccount"
          info-class="net.sf.jmoney.fields.CurrencyAccountInfo"
          base-property-set="net.sf.jmoney.capitalAccount">
      </extendable-property-set>
      <extendable-property-set
      	id="bankAccount"
          info-class="net.sf.jmoney.fields.BankAccountInfo"
          base-property-set="net.sf.jmoney.currencyAccount">
      </extendable-property-set>
      <extendable-property-set
      	id="transaction"
          info-class="net.sf.jmoney.fields.TransactionInfo">
      </extendable-property-set>
      <extendable-property-set
      	id="entry"
          info-class="net.sf.jmoney.fields.EntryInfo">
      </extendable-property-set>
   </extension>

</plugin>
