<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="net.sf.jmoney.pages">
      <node
          id="categoriesNode"
	      label="%NavigationTreeModel.categories"
    	  icon="icons/category.gif"
    	  position="200">
      </node>
      <pages
            node="net.sf.jmoney.categoriespanel.categoriesNode"
            class="net.sf.jmoney.bookkeepingPages.CategoryPage"
            id="categories">
      </pages>
   </extension>

</plugin>
