<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="net.sf.jmoney.pages">
      <pages
            node="net.sf.jmoney.categoriesNode"
            class="net.sf.jmoney.bookkeepingPages.CategoryPage"
            id="categories">
      </pages>
   </extension>

</plugin>
