<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sf.jmoney.ui"
   name="JMoney UI Plug-in"
   version="1.0.0"
   provider-name=""
   class="net.sf.jmoney.ui.internal.JMoneyUIPlugin">

   <runtime>
      <library name="jmoney_ui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="net.sf.jmoney"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.forms"/>
   </requires>

   <extension         point="net.sf.jmoney.pages">      <pages            extendable-property-set="net.sf.jmoney.capitalAccount"            class="net.sf.jmoney.ui.bookkeepingPages.AccountEntriesPage">      </pages>      <pages            extendable-property-set="net.sf.jmoney.bankAccount"            class="net.sf.jmoney.ui.bookkeepingPages.AccountPropertiesPage">      </pages>   </extension>
</plugin>
