<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="net.sf.jmoney.pages">
         
      <node
          id="stocks"
	      label="Stocks"
    	  position="300"
    	  class="net.sf.jmoney.stocks.views.StocksNode">
      </node>

      <pages
            class="net.sf.jmoney.stocks.pages.StockEntriesPage"
            extendable-property-set="net.sf.jmoney.stocks.stockAccount"
            id="entries"
            position="1">
      </pages>
   </extension>

   <extension
         point="net.sf.jmoney.fields">
      <extendable-property-set
      	id="stock"
          info-class="net.sf.jmoney.stocks.StockInfo"
          base-property-set="net.sf.jmoney.commodity">
      </extendable-property-set>
      <extendable-property-set
      	id="bond"
          info-class="net.sf.jmoney.stocks.BondInfo"
          base-property-set="net.sf.jmoney.commodity">
      </extendable-property-set>
      <extendable-property-set
      	id="stockAccount"
          info-class="net.sf.jmoney.stocks.StockAccountInfo"
          base-property-set="net.sf.jmoney.capitalAccount">
      </extendable-property-set>
      <extension-property-set
      	id="entryProperties"
          info-class="net.sf.jmoney.stocks.StockEntryInfo"
	      extendable-property-set="net.sf.jmoney.entry">
      </extension-property-set>
   </extension>
</plugin>
