<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="templates" name="Shoebox Transaction Templates" schema="schema/shoeboxTemplates.exsd"/>

     <extension
         point="net.sf.jmoney.pages">
      <node
          id="shoeboxNode"
	      label="%navigationTreeLabel"
    	  icon="icons/shoebox.gif"
    	  position="250">
      </node>
      <pages
            node="net.sf.jmoney.shoebox.shoeboxNode"
            class="net.sf.jmoney.shoebox.ShoeboxPage"
            id="editor">
      </pages>
   </extension>

<extension point="org.eclipse.ui.commands">
    <command
          id="net.sf.jmoney.commands.openShoebox"
          name="Open Receipt Entry Editor">
    </command>
</extension>

<extension point="org.eclipse.ui.handlers">
    <handler
          commandId="net.sf.jmoney.commands.openShoebox">
        <enabledWhen>
          <with variable="activeContexts">
             <iterate operator="or">
                <equals value="net.sf.jmoney.sessionOpen"/>
             </iterate>
          </with>
       </enabledWhen>
        <class
              class="net.sf.jmoney.handlers.OpenEditorHandler">
   <parameter name="editorId" 
                          value="net.sf.jmoney.shoebox.editor"/>
        </class>
    </handler>
</extension>

<extension point="org.eclipse.ui.menus">
     <menuContribution locationURI="menu:navigate?after=openEditors">
        <command commandId="net.sf.jmoney.commands.openShoebox"
                 label="%navigationTreeLabel"
                 icon="icons/shoebox.gif"
                 tooltip="Open Receipt Entry Editor">
        </command>
     </menuContribution>
     <menuContribution locationURI="toolbar:main?after=openEditors">
        <command commandId="net.sf.jmoney.commands.openShoebox"
                 icon="icons/shoebox.gif"
                 tooltip="Open Receipt Entry Editor" />
     </menuContribution>
</extension>
 
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="net.sf.jmoney.shoebox.editor"
            name="Receipt Entry Editor"
            icon="icons/shoebox.gif"
            class="net.sf.jmoney.shoebox.ShoeboxEditor">
      </editor>
   </extension>

   <extension
         point="net.sf.jmoney.shoebox.templates">
      <template
            id="credit"
            class="net.sf.jmoney.shoebox.templates.CreditTemplate"
            position="1">
      </template>
      <template
            id="debit"
            class="net.sf.jmoney.shoebox.templates.DebitTemplate"
            position="2">
      </template>
      <template
            id="transfer"
            class="net.sf.jmoney.shoebox.templates.TransferTemplate"
            position="3">
      </template>
   </extension>
   
</plugin>
