<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sf.jmoney.propagators.reconciliation"
   name="Reconciliation Property Propagator Plug-in"
   version="1.0.0"
   provider-name="JMoney"
   class="net.sf.jmoney.propagators.reconciliation.ReconciliationPropagatorPlugin">

   <runtime>
      <library name="reconciliationPropagator.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="net.sf.jmoney"/>
      <import plugin="net.sf.jmoney.qif"/>
      <import plugin="net.sf.jmoney.reconciliation"/>
   </requires>

   <extension
         point="net.sf.jmoney.propagators">
         <propagator
         	class="net.sf.jmoney.propagators.reconciliation.ReconciliationPropagator">
         </propagator>
   </extension>

</plugin>
