<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="net.sf.jmoney.pages">
      <node
            id="reportsNode"
            label="%NavigationTreeModel.Reports"
            icon="icons/report.gif"
            position="500">
      </node>
      <node
            id="accountBalances"
            label="%Report.AccountBalances.Title"
            icon="icons/report.gif"
            parent="net.sf.jmoney.reports.reportsNode"
            position="100">
      </node>
      <pages
            class="net.sf.jmoney.reports.AccountBalancesPage"
            node="net.sf.jmoney.reports.accountBalances"
            id="accountBalances">
      </pages>
      <node
            id="incomeExpense"
            label="%Report.IncomeExpense.Title"
            icon="icons/report.gif"
            parent="net.sf.jmoney.reports.reportsNode"
            position="200">
      </node>
      <pages
            class="net.sf.jmoney.reports.IncomeExpensePage"
            node="net.sf.jmoney.reports.incomeExpense"
            id="incomeAndExpense">
      </pages>
      <pages
            class="net.sf.jmoney.reports.IncomeExpenseDetailPage"
            extendable-property-set="net.sf.jmoney.categoryAccount"
            id="incomeAndExpenseDetail">
      </pages>
   </extension>

<extension point="org.eclipse.ui.commands">
    <command
          id="net.sf.jmoney.reports.accountBalances"
          name="Account Balances">
    </command>
    <command
          id="net.sf.jmoney.reports.incomeExpense"
          name="Income and Expenses">
    </command>
</extension>

<extension point="org.eclipse.ui.handlers">
    <handler
          class="net.sf.jmoney.shoebox.OpenEditorHandler"
          commandId="net.sf.jmoney.reports.accountBalances">
       <enabledWhen>
          <with variable="activeContexts">
             <iterate operator="or">
                <equals value="net.sf.jmoney.sessionOpen"/>
             </iterate>
          </with>
       </enabledWhen>
    </handler>
    <handler
          class="net.sf.jmoney.shoebox.OpenEditorHandler"
          commandId="net.sf.jmoney.reports.incomeExpense">
       <enabledWhen>
          <with variable="activeContexts">
             <iterate operator="or">
                <equals value="net.sf.jmoney.sessionOpen"/>
             </iterate>
          </with>
       </enabledWhen>
    </handler>
</extension>

<extension point="org.eclipse.ui.menus">
     <menuContribution locationURI="menu:reports">
        <command commandId="net.sf.jmoney.reports.accountBalances"
            label="%Report.AccountBalances.Title"
            icon="icons/report.gif"
            tooltip="Show Account Balances">
        </command>
        <command commandId="net.sf.jmoney.reports.incomeExpense"
            label="%Report.IncomeExpense.Title"
            icon="icons/report.gif"
            tooltip="Show Income and Expenses">
        </command>
     </menuContribution>
</extension>
 


</plugin>
