<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="net.sf.jmoney.pages">
      <node
            id="reportsNode"
            label="%NavigationTreeModel.Reports"
            icon="icons/report.gif"
            position="500">
      </node>
      <node
            id="accountBalances"
            label="%Report.AccountBalances.Title"
            icon="icons/report.gif"
            parent="net.sf.jmoney.reports.reportsNode"
            position="100">
      </node>
      <pages
            class="net.sf.jmoney.reports.AccountBalancesPage"
            node="net.sf.jmoney.reports.accountBalances"
            id="accountBalances">
      </pages>
      <node
            id="incomeExpense"
            label="%Report.IncomeExpense.Title"
            icon="icons/report.gif"
            parent="net.sf.jmoney.reports.reportsNode"
            position="200">
      </node>
      <pages
            class="net.sf.jmoney.reports.IncomeExpensePage"
            node="net.sf.jmoney.reports.incomeExpense"
            id="incomeAndExpense">
      </pages>
      <pages
            class="net.sf.jmoney.reports.IncomeExpenseDetailPage"
            extendable-property-set="net.sf.jmoney.categoryAccount"
            id="incomeAndExpenseDetail">
      </pages>
   </extension>

</plugin>
